---
- name: Install packages on a machine
  hosts: all
  become: true
  gather_facts: true
  vars_files:
    - ./vars/main.yml
    - ./vars/packages.yml
  tasks:
    - name: Get my user
      ansible.builtin.set_fact:
        remote_regular_user: {{ output "echo" "-n" "{{ ansible_env.SUDO_USER or ansible_user_id }}" | quote }}

    - name: Ensure system is up-to-date
      community.general.pacman:
        update_cache: true
        upgrade: true

    - name: Install packages
      community.general.pacman:
        name: {{ output "echo" "-n" "{{ pkgmgr_base_package_list }}" | quote }}
        state: present

    - name: Install flatpak packages
      community.general.flatpak:
        name: {{ output "echo" "-n" "{{ flatpak_base_package_list }}" | quote }}
        state: present
