init-author-name={{ .personal.name }}
init-author-email={{ .personal.email }}
init-license=MIT
init-version=0.1.0
init-author-url={{ .personal.website }}
registry=https://registry.npmjs.com/
loglevel=warn
progress=true
