#!/usr/bin/env bash

set -e

source {{ joinPath .chezmoi.sourceDir "/helpers/logger.sh" | quote }}

log_info "Run pre-install script"

export PACKAGE_MANAGER="{{- template "pkg_manager" . -}}"

log_success "Package manager detected: ${PACKAGE_MANAGER}"

if [ $PACKAGE_MANAGER == "unknown" ]; then
    prompt_proceed_with_unsupported_os
fi

generate_ansible_playbook() {
    local TEMPLATE_PATH={{ joinPath .chezmoi.sourceDir "/dot_bootstrap/playbook_t.yml.tmpl" | quote }}
    local OUTPUT_PATH={{ joinPath .chezmoi.sourceDir "/dot_bootstrap/playbook.yml" | quote }}

    if [ -f $TEMPLATE_PATH ]; then
        log_info "Preparing ansible playbook"

        # On a fresh install chezmoi is saved in "/home/$USER/bin/chezmoi"
        {{ .chezmoi.executable }} execute-template < "$TEMPLATE_PATH" > "$OUTPUT_PATH"
    else
        log_error "Playbook template not found"
        exit 0
    fi
}

prompt_proceed_with_unsupported_os() {
    read -p "Unsupported OS. Packages will not be installed (dotfiles only).\nDo you wish to proceed with the installation? (yes/no) " response

    if [[ "$response" =~ ^[Yy] ]]; then
        log_info "Proceeding with the installation..."
    else
        log_error "Installation aborted. Exiting..."
        exit 0
    fi
}

# Deprecated as we are not using templates in playbooks anymore
# generate_ansible_playbook
