#!/usr/bin/env bash

source {{ joinPath .chezmoi.sourceDir "/helpers/logger.sh" | quote }}

log_info "Running ansible playbook"

if command -v ansible-playbook &> /dev/null; then
    ansible-playbook -i {{ joinPath .chezmoi.sourceDir "dot_bootstrap/inventory.ini" | quote }} {{ joinPath .chezmoi.sourceDir "dot_bootstrap/playbook.yml" | quote }} --ask-become-pass
fi
